<div class="container">

    <div class="row">
        <div class="center col-sm-12">
            <img src="assets/img/burger.jpeg" alt="Eat-Da-Burger">
            <h1>Eat-Da-Burger!!!</h1>
            <p></p>
        </div>
    </div>
<br>
    <div class="form-group">

        <div class="col-sm-5">

            <textarea class="form-control inputstl" rows="5"></textarea>

            <br>

            <input class="btn btn-primary" type="submit" value="Submit">

            <h5>Enter a burger you want to eat and click the "Submit" button.</h5>

        </div>

    </div>