<div class="container">
	
	<div class="row">
	    <div class="center col-sm-12">
			<img src="assets/img/burger.jpeg" alt="Eat-Da-Burger">
	        <h1>Eat-Da-Burger!!!</h1>
	        <p></p>
	    </div>
  	</div>